body{
    width: 100%;
}
#nav{
    width: 1000px;
    height: 103px;
    background: red;
    margin: 0 auto;
}
#nav img{
    float: left;
}
#nav2{
    width: 679px; 
    height: 103px;
    background: white;
    float: right; 
     text-align: center; 
    position: relative;
}
#nav2 ul{
    position: absolute;  
    bottom: 0;
    margin: 0 auto; 
    margin-bottom: 20px;
     margin-left: 120px; 
     font-size: 18px;
     
}
#nav2 li{
    float: left;
    margin-right:20px; 
}
#nav2 a:link{
    color: greenyellow;
    text-decoration: none;
}
#nav2 a:visited{
    color: greenyellow;
}
#nav2 a:hover{
    color: red;
}
#nav2 a:active{
    color: red;
}
#line #green{
    width: 35%;
    height: 10px;
    background: green;
    float: left;
}
#line #red{
    width: 28%;
    height: 10px;
    background: red;
    float: left;
}
#line #yellow{
    width: 20%;
    height: 10px;
    background: yellow;
    float: left;
}
#line #green2{
    width: 17%;
    height: 10px;
    background: greenyellow;
    float: left;
}
#main{
    text-align: center;
    background: rgb(35, 82, 128);
}
#about{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    /* vertical-align: inherit;  */
}
#about img{
     position: relative; 
    top: 50%;
    margin-top: -32px; 
}
#content{
    width: 1000px;
    margin: 0 auto;
    text-indent: 2em;
    color: #999999;
    font-size: 13px;
    padding-bottom: 80px;
}
#content p,#content span{
    line-height: 25px;
    margin: 10px 0;
}

footer{
    background: rgb(101, 101, 101);
}

#footer{
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}
#footer img{
    float: left;
}
#footerRight{
    color: rgb(204, 204, 204);
    padding-left: 20px;
}